In [41]:
# -*- coding: utf-8 -*-
"""
Adult dataset EDA
"""
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
from matplotlib.colors import LinearSegmentedColormap
from matplotlib.lines import Line2D 

df = pd.read_csv('C:\\Tools\\python_lab\\adult\\adult.csv', engine='python')
print("="*20)
print("DATASET INFORMATION")
df.info()
print("="*20)

#LIST OF CATEGORICAL VARIABLES
col_list = list(df.columns)
categ_list = []
num_list = []

for col in col_list:
    if df[col].dtype == 'object' :
        new_var_name = 'CATEG_'+df[col].name
        print("Nouvelle var => " + new_var_name)
        df[new_var_name] = df[col].astype('category')
        df.drop(df[col].name, axis=1)
        categ_list.append(new_var_name)
    else:
        num_list.append(df[col].name)

print("="*20)
print("CATEGORICAL VARS")
print("="*20)
print("\t \n".join(categ_list))

print("="*20)
print("NUMERIC VARS")
print("="*20)
print("\t \n".join(num_list))

print("="*20)
print("CREATION BINARY VAR TARGET")
print("="*20)
print(df['CATEG_income'].unique())
df['target'] = (df['CATEG_income'] == '>50K').astype(int)
#on drop les vars target
df.drop(['income', 'CATEG_income'], axis=1, inplace=True)
categ_list.remove('CATEG_income')
print(list(df.columns))

====================
DATASET INFORMATION
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
====================
Nouvelle var => CATEG_workclass
Nouvelle var => CATEG_education
Nouvelle var => CATEG_marital.status
Nouvelle var => CATEG_occupation
Nouvelle var => CATEG_relationship
Nouvelle var => CATEG_race
Nouvelle var => CATEG_sex
Nouvelle var => CATEG_native.country
Nouvelle var => CATEG_income
====================
CATEGORICAL VARS
====================
CATEG_workclass
CATEG_education
CATEG_marital.status
CATEG_occupation
CATEG_relationship
CATEG_race
CATEG_sex
CATEG_native.country
CATEG_income
====================
NUMERIC VARS
====================
age
fnlwgt
education.num
capital.gain
capital.loss
hours.per.week
====================
CREATION BINARY VAR TARGET
====================
[<=50K, >50K]
Categories (2, object): [<=50K, >50K]
['age', 'workclass', 'fnlwgt', 'education', 'education.num', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'capital.gain', 'capital.loss', 'hours.per.week', 'native.country', 'CATEG_workclass', 'CATEG_education', 'CATEG_marital.status', 'CATEG_occupation', 'CATEG_relationship', 'CATEG_race', 'CATEG_sex', 'CATEG_native.country', 'target']

In [42]:
#numpy array representation des vecteurs X, Y

numpy_X = df.as_matrix(columns=num_list)

In [44]:
print(categ_list)

['CATEG_workclass', 'CATEG_education', 'CATEG_marital.status', 'CATEG_occupation', 'CATEG_relationship', 'CATEG_race', 'CATEG_sex', 'CATEG_native.country']

In [45]:
# levels for categorial var
for var in categ_list:
    print('Number of Levels in Variable {} => {} Categories'.format(df[var].name, df[var].nunique()))

Number of Levels in Variable CATEG_workclass => 9 Categories
Number of Levels in Variable CATEG_education => 16 Categories
Number of Levels in Variable CATEG_marital.status => 7 Categories
Number of Levels in Variable CATEG_occupation => 15 Categories
Number of Levels in Variable CATEG_relationship => 6 Categories
Number of Levels in Variable CATEG_race => 5 Categories
Number of Levels in Variable CATEG_sex => 2 Categories
Number of Levels in Variable CATEG_native.country => 42 Categories

In [ ]:
"""
#TODO : 
1- one hot encoding all categ, CATEG_native.country grouping
2- export categ matrix as numpy array, to have single numpy_X with all predictors
""""